body {
  header {
    nav {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.8rem;
      margin-bottom: 2rem;

      a {
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s;
        box-sizing: content-box;
        border-bottom: 1px solid transparent;

        &:hover {
          transform: translateY(-2px);
          border-bottom: 1px solid white;
        }
      }

      i { 
        font-size: 0.65rem;
      }
    }

    .title-section {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;

      .nav-button {
        padding: 0.8rem 1.2rem;
        color: var(--white);
        background-color: transparent;
        border: 1.5px solid var(--blue);
        border-radius: 0.5rem;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        transition: all 0.2s ease;

        &:hover {
          background-color: rgba(74, 81, 110, 0.5);
        }

        i {
          color: var(--green);
          transition: all 0.4s;
        }
      }

      .prev {
        &:hover {
          i {
            transform: translateX(-5px);
          }
        }
      }

      .next {
        &:hover {
          i {
            transform: translateX(5px);
          }
        }
      }

      .disabled {
        color: gray;
        cursor: not-allowed;
        border: 1.5px solid gray;
        background-color: rgb(44, 45, 56);

        &:hover {
          background-color: rgb(44, 45, 56);
        }
        i {
          color: gray;
        }
      }
    }
  }
}