body { 
  padding: 3rem 0 3rem 0;
  color: var(--white);
  background-color: rgb(27, 31, 42);
  font-family: 'Courier New', Courier, monospace;
  text-align: center;

  header {
    padding-bottom: 2rem;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.red {
  color: var(--red);
}

.blue {
  color: var(--blue);
}

.green {
  color: var(--green);
}

.btn {
  padding: 0.8rem 1.2rem;
  min-width: 7rem;
  color: var(--white);
  border-radius: 0.5rem;
  border: 1.5px solid var(--blue);
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.2s ease;

  &:hover {
    background-color: rgba(74, 81, 110, 0.5);
  }

  i {
    color: var(--green);
    transition: all 0.4s;
  }
}

.primary {
  background-color: rgb(74, 81, 110);

  &:hover {
    background-color: rgb(94, 107, 156);
  }
}

.secondary {
  background-color: transparent;

  &:hover {
    background-color: rgba(74, 81, 110, 0.5);
  }
}

.textarea {
  padding: 0.5rem;
  width: 85%;
  height: 6rem;
  min-height: 2rem;
  max-height: 45rem;
  resize: vertical;
  color: var(--white);
  background-color: rgb(27, 31, 42);
  border: 1px solid var(--blue);
  border-radius: 0.3rem;
}


.lights {
  z-index: -1;
  min-width: 100%;
  width: 1600px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translatex(-50%);
  
  .stroke {
    fill: none;
    stroke: rgba(86, 86, 19, 0.5);
    stroke-width: 2;
  }

  .light {
    fill: rgb(255, 234, 130);
  }

  .shadow {
    fill: rgb(250, 239, 184);
    filter: blur(10px);
  }
}

@keyframes glimmer {
 0% {
  opacity: 0.2;
 }
 100% {
  opacity: 1;
 }
}