body main {
  .years-section {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    .year-container {
      width: 100%;
      max-width: 50rem;

      .year-button {
        width: 100%;
        padding: 1.3rem 2rem;
        color: var(--white);
        background-color: rgb(42, 47, 63);
        font-family: inherit;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 600;
        border: none;
        border-radius: 0.8rem 0.8rem 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: border-radius 0s 0s ease-out;

        i {
          width: 1.1rem;
          transition: all 0.3s;
          transform: rotate(180deg);
        }
      }

      &:nth-child(3n) .year-button {
        color: var(--green);
      }

      &:nth-child(3n + 1) .year-button {
        color: var(--red);
      }

      &:nth-child(3n + 2) .year-button {
        color: var(--blue);
      }

      .days-container {
        background-color: rgb(58, 64, 85);
        border-radius: 0 0 0.8rem 0.8rem;
        transition: max-height 0.4s ease-out;
        overflow: hidden;

        .days-inner-container {
          margin: 1rem;
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr));
          gap: 0.5rem;

          .day-button {
            width: 100%;
            padding: 0.8rem;
            color: rgb(129, 129, 129);
            background-color: rgb(74, 81, 110);
            font-family: inherit;
            font-size: 1rem;
            font-weight: 600;
            border: none;
            border-radius: 0.5rem;
            cursor: pointer;
            transition: all 0.2s ease;

            &:hover {
              background-color: rgb(102, 110, 144);
              transform: translateY(-0.175rem);
            }
          }

          form:nth-child(3n) .solution {
            color: var(--green);
          }

          form:nth-child(3n + 1) .solution {
            color: var(--red);
          }

          form:nth-child(3n + 2) .solution {
            color: var(--blue);
          }
        }
      }

      .year-button.closed {
        border-radius: 0.8rem;
        transition: border-radius 0.01s 0.4s ease-out;
        
        i {
          transform: rotate(0deg);
        }
      }

      .hidden {
        max-height: 0px;
      }
    }
  }
}
