body {
  header {
    padding: 0 2rem 2rem 2rem;

    nav {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.8rem;
      margin-bottom: 2rem;

      a {
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s;
        border-bottom: 1px solid transparent;

        &:hover {
        transform: translateY(-2px);
        border-bottom: 1px solid white;
        }
      }

      p {
        border-bottom: 1px solid transparent;
      }

      i { 
        font-size: 0.65rem;
      }
    }

    .title-section {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      grid-template-areas: "prev title next";
      align-items: center;
      gap: 1.5rem;

      h1 {
        justify-self: center;
        grid-area: title;
      }

      .prev-form {
        justify-self: end;
        grid-area: prev;

        .prev {
          &:hover {
            i {
              transform: translateX(-5px);
            }
          }
        }
      }

      .next-form {
        justify-self: start;
        grid-area: next;

        .next {

          &:hover {
            i {
              transform: translateX(5px);
            }
          }
        }
      }

      .disabled {
        color: gray;
        cursor: not-allowed;
        border: 1.5px solid gray;
        background-color: rgb(44, 45, 56);

        &:hover {
          background-color: rgb(44, 45, 56);
        }
        i {
          color: gray;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  body header .title-section {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "prev next" "title title";
  }
}